<div class="stopwatch">
  <div class="stopwatch__container">
    <div class="stopwatch__container-title">
      <div class="title">My stopwatch</div>
    </div>
    <div class="stopwatch__container-content">
      <div class="stopwatch__container-time">
        {{secondsToStr}}
      </div>
        <ul class="stopwatch__container-buttons">
          <li class="stopwatch__container-buttons-item">
            <button *ngIf="!timerStart" id="start" (click)="startStopTimer()">Start</button>
            <button *ngIf="timerStart" id="stop" (click)="startStopTimer()">Stop</button>
          </li>
          <li class="stopwatch__container-buttons-item">
            <button id="wait" (click)="clickEvent()">Wait</button>
          </li>
          <li class="stopwatch__container-buttons-item">
            <button id="reset" (click)="resetTimer()">Reset</button>
          </li>
        </ul>
    </div>
  </div>
</div>
